.footer__main_block {
    margin-top: 100px;
    width: 100%;
    height: 40px;
    color: white;
    background-color: green;
    position: relative;
  }
  .footer__reserved_text {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
  }