@import "http://designclub.by/libs/font-awesome/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
.page__background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 93%;
  margin: 2% 3%;
  background: linear-gradient(to bottom left, #e8e8eb, #f5f6f6);
  border-radius: 2em;
  border: 1px solid #e0e0e0;
  box-shadow: -7px 7px 25px 0px rgba(0, 0, 0, 0.37);
}

.page__block_left {
  margin: 1.8em 0 1.8em 2em;
}

.left__element {
  background: url(../images/BG_elem_left.png) no-repeat;
  width: 255px;
  height: 250px;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.left__element_image {
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 1.2em;
  left: 3.42em;
  font-size: 2em;
  transition: ease-out 1s;
  display: inline-block;
}

.left__element_title {
  margin: 0.8em 0 0.8em -0.8em;
  font-weight: 400;
  font-size: 1.25em;
  color: #383838;
  transition: ease-out 1s;
}

.left__element_text {
  margin: 0;
  margin-left: -1.5em;
  width: 13.3em;
  font-size: 0.9em;
  text-align: center;
  transition: ease-out 1s;
}

.left__element:hover .left__element_image, .left__element:hover .left__element_title, .left__element:hover p {
  color: black;
}

.page__block_middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  padding: 0 2em;
}

.page__block_middle img {
  width: 21.5em;
  margin-top: 3em;
  animation-duration: 8s;
  animation-delay: 1s;
}

.page__block_middle div {
  font-size: 5.3em;
  font-family: "BankGothicBold" sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  cursor: default;
  animation-duration: 8s;
  animation-delay: 1s;
  padding-left: 10px;
}

.page__block_middle span {
  font-size: 3em;
  font-family: "BankGothicBold" sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.42em;
  width: 7.3em;
  cursor: default;
  animation-duration: 8s;
  animation-delay: 1s;
}

.page__block_middle p {
  font-size: 1em;
  margin: 0;
  margin-top: 2em;
  width: 22em;
}

.middle__button {
  margin-top: 2em;
  padding-top: 5px;
  width: 14em;
  height: 42px;
  background: #000;
  border-radius: 0.3em;
  border: 0;
  color: #eff0f1;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: ease-out 1s;
}
.middle__button:hover {
  background: #646464;
}

.page__middle_socials a {
  margin-top: 2.2em;
  font-size: 0.6em;
  padding-right: 0.5em;
  text-decoration: none;
  transition: ease-out 0.5s;
  color: #000;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
}

.page__middle_socials .fa:hover {
  margin-top: 1em;
  font-size: 0.8em;
  color: #646464;
}

.page__block_right {
  margin: 1.8em 2em 1.8em 0;
}

.right__element {
  background: url(../images/BG_elem_right.png) no-repeat;
  width: 284px;
  height: 250px;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right__element_image {
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 1.2em;
  right: 3.42em;
  font-size: 2em;
  transition: ease-out 1s;
  display: inline-block;
}

.right__element_title {
  margin: 0.8em -1.5em 0.8em 0;
  font-weight: 400;
  font-size: 1.25em;
  color: #383838;
  transition: ease-out 1s;
}

.right__element_text {
  margin: 0;
  margin-right: -1em;
  width: 17em;
  font-size: 0.9em;
  text-align: center;
  transition: ease-out 1s;
}

div.element_right:last-child {
  margin-bottom: 0;
}

.right__element:hover .right__element_image, .right__element:hover .right__element_title, .right__element:hover p {
  color: black;
}

.page__block_mobile {
  display: none;
}

.mobile__hidden_left {
  width: 44%;
  height: 15.35em;
  background: #e9eae9;
}

.mobile__element_left {
  background: url(../images/BG_elem_left.png) no-repeat;
  margin: -1px;
  width: 255px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile__element_left p {
  font-size: 1.8em;
  margin-right: 9em;
}

.mobile__element_left i {
  font-size: 7em;
  position: absolute;
  left: 0.5em;
  top: 0.6em;
}

.mobile__element_left h3 {
  font-size: 3em;
  margin: 0.4em 6.2em 0.4em 0;
}

.mobile__element_left p {
  font-size: 1.8em;
  margin-right: 9em;
}

.mobile__hidden_right {
  width: 52%;
  height: 238px;
  background: #f1f2f3;
}

.mobile__element_right {
  background: url(../images/BG_elem_right.png) no-repeat;
  margin: -1px;
  width: 255px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.element_hidden_right {
  margin-left: 18em;
  z-index: 1;
}

.mobile__element_right i {
  font-size: 7em;
  position: absolute;
  right: 0.5em;
  top: 0.6em;
}

.mobile__element_right h3 {
  font-size: 3em;
  margin: 0.4em -8em 0.4em 0;
}

.mobile__element_right p {
  font-size: 1.8em;
  margin-right: -12em;
}

.stripe__block_left {
  margin-bottom: 2em;
  display: flex;
  position: relative;
}

.stripe__block_right {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 2em;
}

.mobile__button {
  display: block;
  text-align: center;
  margin: 2em 35% 0 35%;
  padding-top: 1.2em;
  width: 13em;
  height: 60px;
  background: #000;
  border-radius: 0.3em;
  border: 0;
  color: #eff0f1;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 2em;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #000;
}

body {
  color: #646464;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@media screen and (max-width: 1200px) {
  .page__background {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 1.2em;
    background: #f0f1f2;
    border-radius: 0;
    flex-direction: column;
  }

  .middle__button {
    margin-top: 3em;
    padding-top: 25px;
    width: 13em;
    height: 60px;
  }
  .middle__button:hover {
    background: #000;
  }

  .page__middle_socials a {
    margin-top: 1.7em;
    font-size: 0.7em;
  }

  .page__block_middle p {
    margin-top: 1em;
  }

  .page__block_left {
    display: none;
  }

  .page__block_right {
    display: none;
  }

  .mobile {
    display: block;
  }

  .page__block_mobile {
    display: block;
    margin-top: 5em;
  }
}
@media screen and (max-width: 1000px) {
  .page__block_middle img {
    width: 45em;
    padding-top: 7em;
  }

  div.page__block_middle {
    padding-left: 0;
  }

  .page__block_middle div {
    font-size: 10.8em;
    padding-top: 0.1em;
  }

  .page__block_middle span {
    font-size: 6.1em;
    letter-spacing: 1.48em;
    margin-right: 0.2em;
  }

  .page__block_middle p {
    padding: 1em 1% 0 2%;
    font-size: 1em;
    width: 95%;
  }

  .middle__button {
    margin-top: 2em;
    padding-top: 50px;
    width: 11em;
    height: 140px;
    font-size: 3.5em;
  }

  .page__middle_socials a {
    margin-top: 0.7em;
    padding-right: 0.1em;
    font-size: 0.8em;
  }

  .mobile__button {
    margin: 2em 20%;
    width: 11em;
    height: 140px;
    font-size: 3.5em;
  }
}

/*# sourceMappingURL=main.css.map */
