@font-face {
    font-family: 'fontello';
     src: url('fonts/fontello.eot');
     src: url('fonts/fontello.eot') format('embedded-opentype'),
          url('fonts/fontello.woff') format('woff'),
          url('fonts/fontello.ttf') format('truetype'),
          url('fonts/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
   }
   .icon-heart {
     font-family: 'fontello'
   }
   .icon-heart:before { content: '\31'; }
   .label {
     text-decoration: none;
     color: gray;
   }
   .checkbox:checked + .label {
     color: red;
   }
   .checkbox:checked:hover + .label {
     color: red;
     opacity: .7;
   }
   .label:hover {
     color: blue;
   }
   .checkbox {
     display: none;
   }
   .block__link {
     text-decoration: none;
   }
